workflows/St Austin Actualizar Apuntador Siguiente Asesor BQ.json
{
  "name": "St Austin Actualizar Apuntador Siguiente Asesor BQ",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "350be140-2331-43ef-8a32-91b568b58a9c",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        480,
        544
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "RoundRobinPointer_BQ",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        544
      ],
      "id": "374b8eb4-3174-4a56-9bb3-774eb7195c7b",
      "name": "Supabase Get tabla RR pointer",
      "credentials": {
        "supabaseApi": {
          "id": "EQ4xKyyt7FujDI1a",
          "name": "Supabase St Austin"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98a5a8b1-fd4e-4ec5-9cc3-63210a38fc37",
              "name": "siguienteAsesor",
              "value": "={{ $('Supabase Get tabla RR pointer').item.json.siguienteAsesor + 1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        448
      ],
      "id": "3e74969c-c6fd-4d00-a575-294799e3263e",
      "name": "Set siguiente asesor + 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "98a5a8b1-fd4e-4ec5-9cc3-63210a38fc37",
              "name": "siguienteAsesor",
              "value": "=1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        640
      ],
      "id": "629ac31d-32b8-41b5-adf1-ef03ac954f37",
      "name": "Set siguiente asesor = 1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Asesor_BQ",
        "filters": {
          "conditions": [
            {
              "keyName": "idAsesor",
              "keyValue": "={{ $json.siguienteAsesor }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1360,
        544
      ],
      "id": "ed8f0884-9b2f-4196-b0b8-f0456fd9f90d",
      "name": "Supabase Get siguiente asesor",
      "credentials": {
        "supabaseApi": {
          "id": "EQ4xKyyt7FujDI1a",
          "name": "Supabase St Austin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "53c02fbf-dd97-47f0-9606-6f6dfcabd6c6",
              "leftValue": "={{ $('Supabase Get siguiente asesor').first().json.puntaje }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1808,
        544
      ],
      "id": "6c6290ce-b8a7-42e8-97e4-2c26198d6e92",
      "name": "If el asesor tiene puntos negativos"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Asesor_BQ",
        "filters": {
          "conditions": [
            {
              "keyName": "idAsesor",
              "condition": "eq",
              "keyValue": "={{ $('Supabase Get siguiente asesor').first().json.idAsesor }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "puntaje",
              "fieldValue": "={{ $('Supabase Get siguiente asesor').first().json.puntaje - 1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        448
      ],
      "id": "3215571d-628d-41ff-a77b-3cbfccd54f0a",
      "name": "Supabase Restar puntos negativos al asesor",
      "credentials": {
        "supabaseApi": {
          "id": "EQ4xKyyt7FujDI1a",
          "name": "Supabase St Austin"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "RoundRobinPointer_BQ",
        "filters": {
          "conditions": [
            {
              "keyName": "siguienteAsesor",
              "condition": "eq",
              "keyValue": "={{ $('Supabase Get tabla RR pointer').first().json.siguienteAsesor }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "siguienteAsesor",
              "fieldValue": "={{ $('Supabase Get siguiente asesor').first().json.idAsesor }}"
            },
            {
              "fieldId": "correoAsesor",
              "fieldValue": "={{ $('Supabase Get siguiente asesor').first().json.correoAsesor }}"
            },
            {
              "fieldId": "nombreAsesor",
              "fieldValue": "={{ $('Supabase Get siguiente asesor').first().json.nombreAsesor }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1584,
        544
      ],
      "id": "d192592b-fe6e-4f0a-8543-c2312ee13ffc",
      "name": "Supabase Update tabla RR pointer",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "EQ4xKyyt7FujDI1a",
          "name": "Supabase St Austin"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2032,
        640
      ],
      "id": "5fea1da7-0a8c-425e-8619-7fdc84165d45",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "32p99TZsLA8eTddr",
          "mode": "list",
          "cachedResultName": "St Austin — St Austin Actualizar Apuntador Siguiente Asesor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2240,
        448
      ],
      "id": "822e9195-0695-4a0a-8659-c9b70a14879f",
      "name": "Execute Workflow Again"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "589320a2-3ac0-4048-8b5f-0ac33ee2c5c7",
              "leftValue": "={{ $json.siguienteAsesor }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        544
      ],
      "id": "18877e4c-489e-4dbc-8644-219898b5a59a",
      "name": "If el id del asesor es menor a 9"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Número de teléfono": "5213311400415",
          "Responsable": "Lluvia",
          "Nombre": "Fernando Ramos",
          "Correo electrónico": "fr@tendencia.ai",
          "¿Tiene cita agendada?": true
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase Get tabla RR pointer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get tabla RR pointer": {
      "main": [
        [
          {
            "node": "If el id del asesor es menor a 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set siguiente asesor + 1": {
      "main": [
        [
          {
            "node": "Supabase Get siguiente asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Get siguiente asesor": {
      "main": [
        [
          {
            "node": "Supabase Update tabla RR pointer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If el asesor tiene puntos negativos": {
      "main": [
        [
          {
            "node": "Supabase Restar puntos negativos al asesor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Restar puntos negativos al asesor": {
      "main": [
        [
          {
            "node": "Execute Workflow Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set siguiente asesor = 1": {
      "main": [
        [
          {
            "node": "Supabase Get siguiente asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update tabla RR pointer": {
      "main": [
        [
          {
            "node": "If el asesor tiene puntos negativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If el id del asesor es menor a 9": {
      "main": [
        [
          {
            "node": "Set siguiente asesor + 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set siguiente asesor = 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88621aa8-d77d-466e-b413-e8c32016aada",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "900709ac205bf412bdd7b3d4452073dce9dfbb650e50cd24da57187d1da44e89"
  },
  "id": "z3qSAa0ow2ODOZsn",
  "tags": []
}